#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

#
# * IMPORTANT: Additional settings that can override those from this file!
# The files must end with '.cnf', otherwise they'll be ignored.
#
[client]
port      = 3306
#socket    = /var/run/mysqld/mysqld.sock

[mysqld]
user      = mysql
port      = 3306
datadir      = /var/lib/mysql
bind-address = 0.0.0.0

# key-buffer define quanto de memória será armazenado para
# gravar dados de consultas do MySQL. Quanto maior a quantidade
# de memória disponível, melhor será o desempenho do servidor
#set-variable    = key_buffer=312M

#set-variable    = max_allowed_packet=1M

# table_cache é muito importante, este número deve ser o dobro
# do número definido pela variável max_connections
#set-variable    = table_cache=20000

#set-variable    = sort_buffer=1M
#set-variable    = record_buffer=1M
#set-variable    = myisam_sort_buffer_size=64M
#set-variable    = thread_cache=8
#set-variable    = thread_concurrency=8

# max_connections vai definir quantos sub-processos e 
# consequentemente quantas conexões seu MySQL suportará
# simultaneamente. Por incrível que pareça, quanto maior este
# número, menor será o load do seu server. Tente restringir este
# para um número baixo e você verá que loucura está fazendo
#set-variable    = max_connections=10000

#set-variable    = net_write_timeout=30
#set-variable    = connect_timeout=2
#set-variable    = wait_timeout=30

# Read the manual if you want to enable InnoDB!
#skip-innodb

[mysqldump]
#quick
#set-variable   = max_allowed_packet=1M

[mysql]

[isamchk]
#set-variable   = key_buffer=64M # era 16M

!includedir /etc/mysql/conf.d/

